#root {
  text-align: center;
  overflow-x: hidden;
}

.App{
  /* max-height: 70vh; */
  display: flex;
  flex-direction: column;
  align-content:flex-start;
  align-items: flex-start;
}

.App img {
  min-width: 150px;
}

p, li {
  margin: 2px;
  color: rgb(255, 255, 255);
}

main {
  display: flex;
  flex-direction: column;
  align-self: center;
  overflow-x: hidden;
}

.aside {
  display: flex;
}

.selected{
  border-radius: 5px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.imgContainer {
  align-self: center;
}

@media only screen and (min-width: 520px){
  .App{
    flex-direction: column;
  }

  .aside {
    flex-direction: column;
  }

  .filters {
    flex-direction: column;
  }

  main{
    width: 100vw;
    flex-direction: row;
    align-self: auto;
  }

}